@page "/"
@using HomeLibrary.Shared.Dto
@using HomeLibrary.Client.HttpClients
@inject AuthorClient authorClient

<div>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <p>@author.FirstName</p>
</div>

@code {
    AuthorDto author;

    protected override async Task OnInitializedAsync()
    {
        author = await authorClient.GetById(1);
    }


}
